.idea/MyNotes.iml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
machinelearninginaction/.idea/workspace.xml
.idea/vcs.xml
.idea/workspace.xml
machinelearninginaction/.idea/encodings.xml
machinelearninginaction/.idea/machinelearninginaction.iml
machinelearninginaction/.idea/misc.xml
machinelearninginaction/.idea/vcs.xml
machinelearninginaction/.idea/workspace.xml
machinelearninginaction/.idea/machinelearninginaction.iml
machinelearninginaction/.idea/misc.xml
machinelearninginaction/.idea/vcs.xml
machinelearninginaction/.idea/machinelearninginaction.iml
machinelearninginaction/.idea/workspace.xml
